[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
.vscode/
.vs/
.idea/
.gradle/
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.apk
*.aab
*.unitypackage
*.app
crashlytics-build.properties
*.lnk
$RECYCLE.BIN/
Desktop.ini
Thumbs.db
Thumbs.db.meta
ehthumbs.db
